# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Playwright cache & browsers
playwright-report/
test-results/
blob-report/
.playwright/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.log

# (Optional) kalau kamu TIDAK mau commit hasil thumbnail
# thumbnails/